.header {
  margin: 0.5rem 1rem;
  // outline: 1px solid lime;
  &-title {
    font-size: 1.2rem;
    margin: 0;
    // display: block;
  }

  &-actionables {
    button {
      margin: 0 0.3rem;
    }
  }
}

.sidebar {
  width: max-content;
  margin: 2rem 1rem;
  ul {
    border: 01px solid #e4e4e4;

    li:not(:last-child) {
      border-bottom: 1px solid #e4e4e4;
    }
  }
}
