.error-image {
  height: max-content;
  width: 40rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.error-btn {
  margin: 1rem auto;
}

.error-page {
  width: 100%;
  margin: 2.2rem auto !important;
}

.outline {
  outline: 1px solid lime;
}
